body {
    font: normal 13px Monaco, monospace;
    background: white;
    margin: 0;
    padding: 0;
}

header {
    padding: 25px;
    background: #310A00;
    color: white;
    text-shadow: 2px 2px #C46003;
}

header h1 {
    text-transform: uppercase;
    font-size: 32px;
    display: inline;
    vertical-align: middle;
    margin: 25px;
    letter-spacing: 3px;
}

header h1 span.no-shadow {
    text-shadow: none;
}

header h2 {
    text-transform: uppercase;
    display: inline;
    vertical-align: middle;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: #C46003;
}

a:hover {
    text-decoration: underline;
}

main {
    padding: 25px 50px;
}

ul {
    list-style: none;
}



